<% if (title === 'Home') { %>

<body class="body-landingPage">
<header>
    <div id="headerWrapper">
        <section class="headerContent">
            <h1>Quantum Cell</h1>
            <p>Your Gateway to the World's Best Smartphones</p>
            <p>Explore the latest models from Apple, Samsung, Google and more at competitive prices</p>
						<img class="iphone15ProMax-all-colours" src="/Assets/images/iphone/iphone15ProMax-allColours.jpg" alt="iPhone 15 Pro Max">
            <div class="headerButtons">
                <a class="getStartedButton" href="/products">Shop Now</a> 
                <a class="learnMoreButton" href="/about">Learn More</a>
            </div>
        </section>
    </div>
</header>
<main>    
    <section id="brandSection">
        <div class="brandContent">
            <h2 class="brand-header">Top Brands, Best Deals</h2>
            <p>Find the perfect smartphone for your lifestyle. We offer a wide selection of the latest and greatest from leading brands, all in one place.</p>
        </div>
    </section>


    <section id="productSection">
        <h2 class="product-header">Featured Products</h2>
        <div class="productShowcase">
            <!-- Showcase top products here -->
            <div class="product-landing">
               	<img class="iphone15ProMax-black" src="/Assets/images/iphone/iphone15-landingpage2.jpg" alt="iPhone 15 Pro Max">
						<div class="overlay-text">
							<h2>iPhone 15 Pro Max</h2>
							<p>Experience the ultimate in smartphone technology.</p>
						</div>
            </div>
            <!-- More products can be listed similarly -->
        </div>

				<div class="productShowcase">
            <!-- Showcase top products here -->
            <div class="product-landing">
                <img href="/products" src="/Assets/images/samsung/S23Ultra-landing.jpg" alt="iPhone 15 Pro Max">
						<div class="overlay-text-1">
							<h2>Samsung Galaxy S23 Ultra</h2>
							<p>Empower your day with the Galaxy S23 Ultra. A powerhouse in your pocket.</p>
						</div>
            </div>
            <!-- More products can be listed similarly -->
        </div>

        </div>
    </section>


    <section id="FAQSection">
        <h2 class="FAQ-header">Frequently Asked Questions</h2>
        <div class="faqContent">
            <div class="faqItem">
                <h3>Do you offer warranty on the phones?</h3>
                <p>All our phones come with the standard manufacturer's warranty for peace of mind.</p>
            </div>
            <div class="faqItem">
                <h3>Can I buy phones on installment?</h3>
                <p>Yes, we offer flexible installment plans to make your purchase easier.</p>
            </div>
						<div class="faqItem">
                <h3>Do you offer technical support for the products sold?</h3>
                <p>Yes, we provide technical support for all products sold. Our team is available to assist you with any technical queries or issues you might encounter.</p>
            </div>
						<div class="faqItem">
                <h3>Can I change or cancel my order after it's been placed?</h3>
                <p>Orders can be changed or canceled within a short time frame after placing them. Please contact our customer service immediately for assistance.</p>
            </div>
            <!-- More FAQs can be added -->
        </div>
    </section>
</main>
</body>
<% } %>
