<% if (title === 'Order-success') { %>

<body id="order-success-body">

  <div class="success-container">
    <div class="success-form-container">
      <h1 class="order-success-h1">Order Placed Successfully<br><i class="fa-regular fa-circle-check"></i></h1>
      <p class="order-success-paragraph">Your order has been successfully placed. Thank you for shopping with us!</p>
      <a href="/home" class="order-success-homeLink">Return to Home</a>
    </div>
  </div>

</body>

<% } %>