<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Phone Store</title>
    <link rel="stylesheet" href="landing_page.ejs"> 
</head>
<body>
    <header>
        <!-- site's header here -->
    </header>

    <main>
        <section class="about-us">
            <h1>About Us</h1>
            <p>Welcome to QCell Phone Store, your reliable partner in the world of mobile technology. We are dedicated to providing you with the best selection of phones, exceptional customer service, and unmatched value.</p>
        </section>

        <section class="our-mission">
            <h2>Our Mission</h2>
            <p>Our mission is to empower our customers through technology by offering the latest and most affordable smartphones. We strive to keep up with the rapidly evolving tech world to bring you the best of what it has to offer.</p>
        </section>

        <section class="our-team">
            <h2>Meet the Team</h2>
            <div class="team-members">
                <!-- Example Team Member -->
                <div class="team-member">
                    <h3>Okoro Daniel</h3>
                    <p></p>
                    <p></p>
                </div>

                div class="team-member">
                    <h3>Barnabas Agbekorode</h3>
                    <p></p>
                    <p></p>
                </div>

                div class="team-member">
                    <h3>Ciaran Kettles</h3>
                    <p></p>
                    <p></p>
                </div>

                div class="team-member">
                    <h3>Omied Muhebi</h3>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </section>

        <section class="our-values">
            <h2>Our Values</h2>
            <ul>
                <li><strong>Customer Focus:</strong> We believe in putting our customers first.</li>
                <li><strong>Innovation:</strong> We constantly seek to bring the latest technology to our customers.</li>
                <li><strong>Integrity:</strong> We conduct our business with the highest ethical standards.</li>
                
            </ul>
        </section>

        <section class="contact-info">
            <h2>Contact Us</h2>
            <p>If you have any questions or need assistance, feel free to reach out to us:</p>
            <ul>
                <li>Email: contact@qphonestore.com</li>
                <li>Phone: +123 456 7890</li>
            </ul>
        </section>
    </main>

    <footer>
        
    </footer>
</body>
</html>
