/*This file is to be replaced with either a bootstrap file, or whatever stylesheet we're using once everything is being put together. 
It is here only to be a reference for how I was trying to style the landing page while making it.*/

#wrapper1{
    width:auto;
    height: 900px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: blue;
    color: white;
    text-align: center;
}
#wrapper2{
    width: auto;
    height: 900px;
    margin: 0px;
    background-color: white;
    text-align: center;
}
#storeWrapper{
    width: auto;
    height: 900px;
    margin: 0px;
    background-color: lightgray;
    text-align: center;
    color: black;
}
#FAQWrapper{
    width: auto;
    height: fit-content;
    background-color: white;
    color: black;
}
#titlebox{
    width: auto;
    height:fit-content;
    margin: auto;
    text-align: center;
}
#faqpage{
    margin-top: 100px;
    width: auto;
    height: fit-content;
    text-align: center;
}
.getStarted{
    background-color: darkblue;
    border: 0px;
}
.learnButton{
    background-color: blue;
    border: 0px;
}
