<!---->
<link rel="stylesheet" href="landing_page.css">

<header>
    <div id="wrapper1">
        <br><br><br>
        <div class="jumbotron">
            <h1 class="display-4">Phone Store</h1>
            <p class="lead">This is the landing page for the phone store</p>
            <p>Selling phones at low prices</p>
            <p class="lead">
                <button class="getStarted" href="#">Get started</button> <button class="learnButton" href="#">Learn More</button>
            </p>
        </div>
    </div>
</header>
<body>    
    <div id="wrapper2">
        <div class="jumbotron">
            <h4>Details</h4>
            <h1 class="display-4">Why choose our phones?</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p>This site is selling phones, good phones, phones that stay in motion and wont break. Buy now.</p>
            <p class="lead">
            </p>
        </div>
    </div>
    <div id="storeWrapper"></div>
        <table id="storeTable">
            <!--Insert images and descriptions of phones/products-->
        </table>
    </div>
    <div id="FAQWrapper">
        <div id="titlebox">
            <!--FAQ title-->
            <h1>Frequently Asked Questions</h1>
        </div>
        <!--FAQ content goes here, can be added as many questions as needed-->
        <div id="faqpage">
            <h3>FAQ 1</h3> <br>
            <p>FAQ 1 Answer </p> <br> <br>
            <h3>FAQ 2</h3> <br>
            <p>FAQ 2 Answer </p> <br> <br>
        </div>
    </div>
</body>
<footer>
    <!--footer content goes here-->
</footer>