.login-body {
  /* Your styles for the body */
  font-family: Arial, sans-serif;
}

.login-header {
  /* Style for the header */
  text-align: center;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.login-container {
  /* Container style */
  width: 100%;
  max-width: 400px;
  margin: 7vw auto;
  padding: 15px;
}

.login-row {
  /* Row style */
  display: flex;
  justify-content: center;
}

.login-column {
  /* Column style */
  flex: 1;
}

.login-form {
  /* Form styling */
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  /* Grouping label and input */
  margin-bottom: 15px;
}

.form-label {
  /* Style for labels */
  display: block;
  margin-bottom: 5px;
}

.form-input {
  /* Style for input fields */
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button {
  /* Style for the login button */
  background-color: #8800FF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #5f03ab;
}

.login-button{
  display: flex;
  justify-content: left;
  align-items: center;
}

.register-link-loginPage{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1vw;
  text-decoration: none;
  color: #8800FF;
}