<% if (title === 'Login') { %>
<body class="login-body">
    <h2 class="login-header">Please Login</h2>
    <div class="login-container">
        <div class="login-row">
            <div class="login-column">
                <form action="/users/login" method="post" class="login-form">
                    <div class="form-group">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-input" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-input" id="password" name="password" required>
                    </div>

                        <button type="submit" class="login-button">Login</button>
                        <a href="/register" class="register-link-loginPage">Register</a>
                
                </form>
            </div>
        </div>
    </div>
</body>
<% } %>
