<% if (title === 'Register') { %>
<body class="register-body">
    <% if (typeof success !== 'undefined') { %>
        <div class="alert-success">
            <%= success %>
        </div>
    <% } %>
    <h2 class="register-header">Please Register</h2>
    <div class="register-container">
        <div class="register-form-container">
            <form action="/users/register" method="post">
                <div class="form-group">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                
                <div class="form-group">
                    <label for="displayName" class="form-label">Display Name:</label>
                    <input type="text" id="displayName" name="displayName" required>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit" class="register-button">Register</button>
                <div class="linkToRegisterPage">
                    <a href="/login" class="loginPageRegister">Already have an account</a>
                </div>
            </form>
        </div>
    </div>
</body>
<% } %>
